<% include partials/header_1 %>

  <div class="col-md-12" style="padding-top: 10px">
    <div class="row">
      <div class="well well-sm">
        <legend class="text-center"> <i class="fa fa-plus"></i>Add New AHU</legend>

        <form class="form-horizontal" action="/qr/ahu/input" method="POST">
          <fieldset>
            <!-- _id for getting the right entry in the DB-->
            <div style="display: none;" class="form-group">
              <input class="form-control" name="editID" type="text" value=<% qr.forEach(function(e){ %><%=e._id %><% }) %>>
            </div>

             <!-- Location input-->
             <div class="form-group">
              <label class="col-md-4">Location</label>
              <div class="col-md-12">
                <input class="form-control" name="qr1_location" type="text" value="<% qr.forEach(function(e){ %><%=e.qr1_location %><% }) %>" readonly>
              </div>
            </div>

            <!-- Description input-->
            <div class="form-group">
              <label class="col-md-4">Details</label>
              <div class="col-md-12">
                <input class="form-control" name="qr1_details" type="text" value="<% qr.forEach(function(e){ %><%=e.qr1_details %><% }) %>" readonly>
              </div>
            </div>

            <!-- Belt Status-->
            <div class="form-group">
              <div class="col-md-6">
                <label for="qr1_beltSize">Belt Size</label>
                <input class="form-control" name="qr1_beltSize" type="text" value="<% qr.forEach(function(e){ %><%=e.qr1_beltSize %><% }) %>" readonly>
              </div>
              <div class="col-md-6">
                <label for="qr1_beltStatus">Belt Condition</label>
                <input type="radio" name="qr1_beltStatus" value=NEW NEW <% qr.forEach(function(e){ %><%e.qr1_beltStatus %><% if (e.qr1_beltStatus == 'NEW') {%> checked="checked" <%} %><% }) %> /> NEW <br>                 
                <input type="radio" name="qr1_beltStatus" value=OK OK <% qr.forEach(function(e){ %><%e.qr1_beltStatus %><% if (e.qr1_beltStatus == 'OK') {%> checked="checked" <%} %><% }) %> /> OK <br>
                <input type="radio" name="qr1_beltStatus" value=POOR POOR <% qr.forEach(function(e){ %><%e.qr1_beltStatus %><% if (e.qr1_beltStatus == 'POOR') {%> checked="checked" <%} %><% }) %> /> POOR <br>
              </div>
            </div>

             <!-- AHU filter/motor greased -->
             <div class="form-group">
              <div class="col-md-6">
                <label for="qr1_filterSize">Filter Size</label>
                <input class="form-control" name="qr1_filterSize" type="text" value="<% qr.forEach(function(e){ %><%=e.qr1_filterSize %><% }) %>" readonly>
              </div>
              <div class="col-md-6">
                <label for="qr1_filterQ">Filter Quantity</label>
                <input class="form-control" name="qr1_filterQ" type="number" value="<% qr.forEach(function(e){ %><%=e.qr1_filterQ %><% }) %>" readonly>
              </div> 
              <div class="col-md-6">
                <label for="qr1_filterStatus">Filter Status</label>
                <input type="radio" name="qr1_filterStatus" value=NEW NEW <% qr.forEach(function(e){ %><%e.qr1_filterStatus %><% if (e.qr1_filterStatus == 'NEW') {%> checked="checked" <%} %><% }) %> /> NEW <br>                 
                <input type="radio" name="qr1_filterStatus" value=OK OK <% qr.forEach(function(e){ %><%e.qr1_filterStatus %><% if (e.qr1_filterStatus == 'OK') {%> checked="checked" <%} %><% }) %> /> OK <br>
                <input type="radio" name="qr1_filterStatus" value=DIRTY DIRTY <% qr.forEach(function(e){ %><%e.qr1_filterStatus %><% if (e.qr1_filterStatus == 'DIRTY') {%> checked="checked" <%} %><% }) %> /> DIRTY <br>
              </div>
              <div class="col-md-6 ">
                <label for="qr1_motorGreased">Motor Greased</label>
                <input type="radio" name="qr1_motorGreased" value=YES YES <% qr.forEach(function(e){ %><%e.qr1_motorGreased %><% if (e.qr1_motorGreased == 'YES') {%> checked="checked" <%} %><% }) %> /> YES <br>                  
                <input type="radio" name="qr1_motorGreased" value=NO NO <% qr.forEach(function(e){ %><%e.qr1_motorGreased %><% if (e.qr1_motorGreased == 'NO') {%> checked="checked" <%} %><% }) %> /> NO <br>  
              </div>  
            </div>

            <!-- Notes -->
            <div class="form-group">
              <label class="col-md-4">Alarms/Repairs/Notes</label>
              <div class="col-md-12">
                <textarea class="form-control" name="qr1_notes" rows="10"><% qr.forEach(function(e){ %><%=e.qr1_notes %><% }) %></textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" value="execute">Save</button>
                <input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" />
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
  