<% include partials/header_1 %>
  <% if (errors){ %>
    <ul>
    <% errors.forEach(function(error){ %>
    <li><%= error.msg %></li>
    <% }) %>
    </ul>
  <% } %> 

<header class="w3-container">
    <h5 class="text-center" style="padding-top:20px;"><b><i class="fa fa-edit"></i> Edit</b></h5>
</header>
<br>
  <div class="col-md-12">
    <div class="row">
      <div class="well well-sm">
        <legend class="text-center">Edit Pickup Item</legend>

        <form class="form-horizontal" action="/pickup/update" method="POST">
          <fieldset>
            <!-- _id for getting the right entry in the DB-->
            <div style="display: none;" class="form-group">
              <input class="form-control" name="editID" type="text" value=<% items.forEach(function(i){ %><%= i._id %><% }) %>>
            </div>
            <!-- Location input-->
            <div class="form-group">
              <label class="col-md-4">Location</label>
              <div class="col-md-12">
                <input class="form-control" name="pickup_location" type="text" value="<% items.forEach(function(i){ %><%= i.location %><% }) %>">
              </div>
            </div>
    
            <!-- Details body -->
            <div class="form-group">
              <label class="col-md-4">Details</label>
              <div class="col-md-12">
                <textarea class="form-control" name="pickup_details" rows="5"><% items.forEach(function(i){ %><%= i.details %><% }) %></textarea>
              </div>
            </div>

            <!-- Paid body -->
            <div class="form-group">
              <label class="col-md-4">Paid</label>
              <div class="col-md-12">
                <textarea class="form-control" name="pickup_paid" rows="1"><% items.forEach(function(i){ %><%= i.paid %><% }) %></textarea>
              </div>
            </div>

             <!-- P.O. input-->
            <div class="form-group">
              <label class="col-md-4">P.O.</label>
              <div class="col-md-12">
                <select class="form-control" name="pickup_po">
                  <option value="<% items.forEach(function(i){ %> <%= i.po %><% }) %>"><% items.forEach(function(i){ %><%=i.po %><% }) %></option>
                  <option value="ASE">ASE</option>
                  <option value="BPH">BPH</option>
                  <option value="BG">BG</option>
                  <option value="CNJHS">CNJHS</option>
                  <option value="CLC">CLC</option>
                  <option value="CCE">CCE</option>
                  <option value="D.O.">D.O.</option>
                  <option value="DHS">DHS</option>
                  <option value="ELC">ELC</option>
                  <option value="FS">FS</option>
                  <option value="GES">GES</option>
                  <option value="GHS">GHS</option>
                  <option value="GJHS">GJHS</option>
                  <option value="IE">IE</option>
                  <option value="MCE">MCE</option>
                  <option value="NLE">NLE</option>
                  <option value="OME">OME</option>
                  <option value="OLE">OLE</option>
                  <option value="RSE">RSE</option>
                  <option value="SCE">SCE</option>
                  <option value="Shop">Shop</option>
                  <option value="SHS">SHS</option>
                  <option value="SPE">SPE</option>
                  <option value="SES">SES</option>
                  <option value="THS">THS</option>
                  <option value="TJHS">TJHS</option>
                  <option value="VES">VES</option>
                  <option value="WHS">WHS</option>
                  <option value="West">West</option>
                  <option value="Willow">Willow</option>
                </select>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">

                <button type="submit" value="execute">Save Changes</button>
                
                <button type="submit" formaction="/pickup/delete"><i class="fa fa-trash"></i>Delete</button>

                <input action="action" onclick="window.history.go(-1); return false;" type="button" value="Cancel" />
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
<% include partials/footer %>
  